# CRUD (Create, Read, Update, Delete) Data

In [ ]:
import sqlite3

sqlitedb = 'demo2.db'

conn = sqlite3.connect(sqlitedb)
conn

In [ ]:
# Membuat tabel
# CRUD : Create, Read, Update, Delete
cursor = conn.cursor()

# Create table
sql = ''' create table if not exists employee(
  id integer PRIMARY KEY AUTOINCREMENT,
  full_name char(30) not null,
  age int,
  email char(30)
)

'''


cursor.execute(sql)
conn.commit()
print("Created a table")

In [ ]:
# Inser data

cursor.execute("insert into employee(full_name,age,email) values('employee 1', 20, 'employee1@gmail.com')")
cursor.execute("insert into employee(full_name,age,email) values('employee 2', 20, 'employee2@gmail.com')")
cursor.execute("insert into employee(full_name,age,email) values('employee 3', 20, 'employee3@gmail.com')")
cursor.execute("insert into employee(full_name,age,email) values('employee 4', 20, 'employee4@gmail.com')")
cursor.execute("insert into employee(full_name,age,email) values('employee 5', 20, 'employee5@gmail.com')")
conn.commit()
print('Inserted Data')

In [ ]:
params = ('employee 6', 40, 'employee6@gmail.com')
cursor.execute("insert into employee(full_name,age,email) values(?,?,?)", params)
conn.commit()
print('Inserted Data Successfuly')

In [ ]:
# Read Data

cursor.execute("select * from employee")
result = cursor.fetchall() # get all data
conn.commit()
result

In [ ]:
# Filter data
cursor.execute(" select * from employee where age >= 40")
result = cursor.fetchall()
conn.commit()
result

In [ ]:
# Update data
cursor.execute("update employee set age = 14, full_name = 'employee 9', email = 'employee9@gmail.com' where id = 9")
conn.commit()
print("Updated data successfully")


# read data
cursor.execute("select * from employee")
result = cursor.fetchall()
conn.commit()
result

In [ ]:
# Delete data

cursor.execute("delete from employee where id = 6")
conn.commit()
print('Deleted data successfully')


# Read data
cursor.execute("select * from employee")
result = cursor.fetchall()
conn.commit()
result