# Drop Table

In [5]:
import sqlite3

### SQLite Connection

In [6]:
sqlitedb = 'demo2.db'

conn = sqlite3.connect(sqlitedb)
cursor = conn.cursor()
conn

### Hapus table

In [7]:
cursor.execute("DROP TABLE IF EXISTS product")
conn.commit()
conn.close()
print("Deleted table successfully")

Deleted table successfully

In [10]:
# read table product

cursor.execute("SELECT * FROM product")
result = cursor.fetchall()
conn.commit()
result # error karena tidak ada table product

OperationalError: no such table: product