# Bahasa Pemrograman Python

Tujuannya untuk memberikan pengetahuan dasar pemrograman Python guna menunjang implementasi pengembangan aplikasi data science dan machine learning.\
Topik bahasan mencakup:
* Deklarasi variabel
* Komentar
* Print - Menampilkan Data ke Terminal
* Operator
* Kondisional
* Looping
* break dan continue
* Fungsi
* Array
* Class
* Inheritance Class

# Deklarasi Variabel

In [2]:
!python --version

Python 3.8.8

In [3]:
bil1 = 10
bil2 = 4.85
kota = "kota 55"
negara = 'negara 123'

In [4]:
bil1

10

In [5]:
kota

'kota 55'

In [6]:
bil1
negara
bil2

4.85

In [7]:
print(kota)
print(bil2)
negara

kota 55
4.85

'negara 123'

In [8]:
num = None
num = 10
print(num)

10

In [11]:
type(bil1)

int

In [12]:
type(negara)

str

In [13]:
s = None
type(s)

NoneType

# Komentar

Berguna untuk memberikan keterangan pada kode program

In [14]:
a = 10
b = "kota"
c = 'negara'
# ini komen
# ini komen lagi
d = 5.9

Ini hanya catatan

# Print - Menampilkan Data ke Terminal

In [15]:
a = 10
print(a)

10

In [16]:
b = "halo python"
print(b)

halo python

In [17]:
n = 34.56
print(n)

34.56

In [18]:
print(a, b, n)

10 halo python 34.56

In [19]:
print("Nilai a:", a)

Nilai a: 10

In [20]:
print(a)
print(b)
print(n)

10
halo python
34.56

In [21]:
print(a,end="")
print(b,end="")
print(n)
print(b,end="")

10halo python34.56
halo python

In [22]:
k = 5.3453972
print(k)

5.3453972

In [25]:
kdata = "{:.4f}".format(k)
print(kdata)

5.3454

# Operator

Bahasan:
* Operator Aritmetika
* Operator Pembanding
* Operator Logical

## Operator aritmetika
* tambah +
* kurang -
* bagi /
* kali *
* sisa bagi (modulo) %

In [26]:
a = 10
b = 5

print( a + b )
print( a - b )
print( a * b )
print( a / b )
print( a % b )

15
5
50
2.0
0

In [27]:
import math

a = math.pow(2, 3)
print("Hasilnya: ", a)

Hasilnya:  8.0

In [28]:
b = math.pow(2, 3)
b

8.0

## Operator pembanding

==, >, >=, <, <=, !=

In [29]:
a = 10 
b = 5

print( a == b )
print( a > b )
print( a >= b )
print( a < b )
print( a <= b )
print( a != b )

False
True
True
False
False
True

## Operator logical

and, or, not

In [30]:
a = 10
b = 5

print( (a == b) and ( a > b) )
print( (a == b) or ( a > b) )
print( not (a > b) )

False
True
False

# Kondisional

In [31]:
a = 10

if a > 5:
    print("a>5")
else:
    print("not a>5")

a>5

In [33]:
if a > 8:
    print("a>8")

a>8

In [ ]:
# nested if - kondisional didalam kondisional
a = 10

if a > 5:
    print("a>5")
    if a > 8:
        print("a>8")
else:
    print("not a>5")

In [34]:
a = 10

if a > 5:
    print("a>5")
elif a < 3:
    print("a<3")
else:
    print("not a<3 a>5")

a>5

# Looping
## for

In [35]:
# for
for i in range(1,5):
    print(i)

print("========================")
for i in range(1, 3):
    for j in range(1, 4):
        print("nilai i: ", i, " nilai j: ", j)

1
2
3
4
========================
nilai i:  1  nilai j:  1
nilai i:  1  nilai j:  2
nilai i:  1  nilai j:  3
nilai i:  2  nilai j:  1
nilai i:  2  nilai j:  2
nilai i:  2  nilai j:  3

In [36]:
range(1,7)

range(1, 7)

## while

In [37]:
n = 0
while n < 5:
    print(n)
    n = n + 1

0
1
2
3
4

# break dan continue

**break** digunakan untuk berhenti dari proses looping. 

**continue** digunakan untuk 'bypass' dari suatu proses didalam looping

In [38]:
for i in range(1,10):
    if i == 5:
        continue
    if i == 7:
        break
    print(i)

1
2
3
4
6

# Fungsi

In [39]:
def hello():    
    print("hello")
    print("hello")
    print("hello")

hello()

hello
hello
hello

In [40]:
# fungsi dengan input parameter dan mengembalikan satu nilai
def jumlah(bil1, bil2):
    hasil = bil1 + bil2
    
    return hasil


h = jumlah(10, 6)
print("nilai h: ", h)

nilai h:  16

In [41]:
# fungsi dengan input parameter dan mengembalikan banyak nilai
def hitung(bil1, bil2):
    return bil1+bil2, bil1 - bil2, bil1 * bil2

a, b, c = hitung(10, 6)
print("nilai a: ", a, "nilai b: ", b, "nilai c: ", c)
_, b, _ = hitung(5, 3)
print("nilai b: ", b)
_, _, c = hitung(8, 9)
print("nilai c: ", c)

nilai a:  16 nilai b:  4 nilai c:  60
nilai b:  2
nilai c:  72

# Array
Ada tiga array didalam Python
* list
* tuple
* dictionary

## List

In [42]:
# deklarasi
numbers = [2,4,6,8,10]
kota = ["aaa", "bbb", "ccc"]
k = [2,5,"aaa", 4, "bbbb"]

print(numbers)
print(kota)
print(k)

# iterasi dan tampilkan
for number in numbers:
    print(number)

print( numbers[2] )
numbers[1] = 100 # edit
print(numbers)

# menambah data
numbers.append(99)
print(numbers)
print("panjang array: ", len(numbers) )

# menghapus data
# dengan nilai
numbers.remove(8)
print(numbers)

# dengan indek
del numbers[1]
print(numbers)

[2, 4, 6, 8, 10]
['aaa', 'bbb', 'ccc']
[2, 5, 'aaa', 4, 'bbbb']
2
4
6
8
10
6
[2, 100, 6, 8, 10]
[2, 100, 6, 8, 10, 99]
panjang array:  6
[2, 100, 6, 10, 99]
[2, 6, 10, 99]

In [43]:
print(numbers)
numbers.insert(2, 101)
print(numbers)

[2, 6, 10, 99]
[2, 6, 101, 10, 99]

## Tuple

In [45]:
# tuple - read-only array
a = (3,5,7)

print(a)
print( len(a) )


# iterasi
for number in a:
    print(number)

print("---------------")
print( a[2] )
# a[2] = 100  # error

(3, 5, 7)
3
3
5
7
---------------
7

TypeError: 'tuple' object does not support item assignment

## Dictionay - key : value

In [46]:
a = {2:"aaa", 3:"bbb", 100:"cccc"}
b = {"a": 100, "b": 101, "c": 102}

print(a)
print(b)

# iterasi
for key, value in a.items():
    print(key,"------>", value)
    
print( a[100] )
a[100] = "dddd"
print(a)

# add
a.setdefault(99, "eeee")
print(a)

# delete : del aaa[key]
del a[3]
print(a)

{2: 'aaa', 3: 'bbb', 100: 'cccc'}
{'a': 100, 'b': 101, 'c': 102}
2 ------> aaa
3 ------> bbb
100 ------> cccc
cccc
{2: 'aaa', 3: 'bbb', 100: 'dddd'}
{2: 'aaa', 3: 'bbb', 100: 'dddd', 99: 'eeee'}
{2: 'aaa', 100: 'dddd', 99: 'eeee'}

# Class

In [47]:
class Kota:
    # variables
    id = 0
    nama = ""
    
    # kontstruktor
    def __init__(self):
        print("konstruktor dipanggil")
    
    # diskonstruktor
    def __del__(self):
        print("diskonstruktor dipanggil")
    
    # fungsi
    def say_hello(self):
        print("hello, ", self.nama, ".. id: ", self.id)
        
# instance
a = Kota()
a.nama = "aaaa"
a.id = 8

a.say_hello()

def test():
    b = Kota()
    b.nama = "bbb"
    b.id = 9

    b.say_hello()
    
test()

konstruktor dipanggil
hello,  aaaa .. id:  8
konstruktor dipanggil
hello,  bbb .. id:  9
diskonstruktor dipanggil

## Inheritance

In [48]:
import math


class shape:
    def __init__(self):
        print('call __init__ from shape class')

    def foo(self):
        print('calling foo() from shape class')


class circle(shape):
    def __init__(self, r):
        print('call __init__ from circle class')
        self.r = r

    def calculate_area_circle(self):
        return math.pi * self.r * self.r


class rectangle(shape):
    def __init__(self, l, w):
        print('call __init__ from rectangle class')
        self.l = l
        self.w = w

    def calculate_area_rectangle(self):
        return self.l * self.w


a = shape()
a.foo()

b = circle(5)
b.foo()
area = b.calculate_area_circle()
print('area:', area)

c = rectangle(2, 3)
c.foo()
area = c.calculate_area_rectangle()
print('area:', area)

call __init__ from shape class
diskonstruktor dipanggil
calling foo() from shape class
call __init__ from circle class
calling foo() from shape class
area: 78.53981633974483
call __init__ from rectangle class
calling foo() from shape class
area: 6