# Data Frame

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
np.__version__, pd.__version__

Ini adalah objek 2 dimensi yang mirip dengan spreadsheet atau tabel SQL. Ini adalah objek pandas pada umumnya digunakan

In [14]:
data = {
    'gender' : ['L', 'P', 'T'],
    'emp_id' : ['E01', 'E02', 'E03'],
    'age' : [25, 27, 24]
}

In [15]:
# Kita ingin mengurutkan kolom, jadi mari kita tentukan di dalam parameter kolom 
df = pd.DataFrame(data, columns=['emp_id', 'age', 'gender'])
df

  emp_id  age gender
0    E01   25      L
1    E02   27      P
2    E03   24      T