# Pivot Tables

Pandas menyediakan fungsi 'Pivot Table' untuk membuat table pivot gaya spreadsheet MS Excal. Ini dapat mengambil argumen berikut:
- data : DataFrame object
- value : column to aggregate
- index : row labels
- columns : column labels
- aggfunc : fungsi aggregasi yang akan digunakan pada nilai, defaultnya adalah NumPy.mean

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__, np.__version__)

In [ ]:
df = pd.DataFrame({
  'Name' : ['Jack', 'Jane', 'Jack', 'Jane', 'Jack', 'Jane', 'Jack', 'Jane'],
  'State' : ['SFO', 'SFO', 'NYK', 'CA', 'NYK', 'NYK', 'SFO', 'CA'],
  'Grade' : ['A', 'A', 'B', 'A', 'C', 'B', 'C', 'A'],
  'Age' : np.random.uniform(24, 50, size=8),
  'Salary' : np.random.uniform(3000, 5000, size=8)
})
df

In [ ]:
pd.pivot_table(df, values='Age', index=['State', 'Name'], columns=['Grade'])