# Statistics Basic (DataFrame)

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
np.__version__, pd.__version__

('1.24.3', '2.2.2')

`describe()` - akan mengembalikan statistik cepat seperti count, mean, std, min, first quartile, median, third quartile, max pada setiap kolom DataFrame

In [4]:
# Summary statistics untuk DataFrame

df = pd.read_csv('dataset/iris.csv')
df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
df.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [6]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## Covariance

Covariance merupakan salah satu teknik dasar untuk memahami hubungan antara dua variabel. Bilangan Covariance positif antara variabel berarti keduanya berhubungan positif. Sedangkan bilangan Covariance negatif berarti variabel-variabel tersebut berbanding terbalik. Kelemahan utama kovarians adalah bahwa hal itu menjelaskan kepada kita tingkat hubungan positif atau negatif antara variabel. <br><br>

Implementasinya menggunakan `cov()`

In [8]:
# covariance : mengembalikan co-variance antara kolom yang sesuai

# Memilih hanya kolom-kolom numerik
df_numeric = df.select_dtypes(include=[float, int])

# Menghitung covariance hanya untuk kolom numerik
covariance = df_numeric.cov()
covariance

              Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Sepal.Length      0.685694    -0.042434      1.274315     0.516271
Sepal.Width      -0.042434     0.189979     -0.329656    -0.121639
Petal.Length      1.274315    -0.329656      3.116278     1.295609
Petal.Width       0.516271    -0.121639      1.295609     0.581006

## Correlation

In [10]:
dm = df.select_dtypes(include=[float, int])
dm.corr()

              Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Sepal.Length      1.000000    -0.117570      0.871754     0.817941
Sepal.Width      -0.117570     1.000000     -0.428440    -0.366126
Petal.Length      0.871754    -0.428440      1.000000     0.962865
Petal.Width       0.817941    -0.366126      0.962865     1.000000